


div.moviments-form-container
  div.moviments-form-subcontainer
    div.moviments-head
      h1.main-hero Inserção de Movimentos Díarios
      p.main-paragraph
    div.moviments-body
      form(method="POST", action="").moviments-insertion-form
        div.form-row
          label.input-label
            input(type="text", name="currency", value="MZN")
          label.input-label
            input(type="text", name="exchange", value="0,00")
          div.float-right
            label.input-label
              input(type="data", name="operation-date", value="")
        div.empty-row
        div.the-table
          table.moviments-table
            tdhead.input-table-head
              tr.head
                td  Código
                td  Designação
                td  Débito
                td  Crédito
            tdbody.input-table-body
              tr.body
                td
                  input(type="text", name="code", value="none")
                td
                  select(name="description")
                    option(selected="selected") Seleccione uma designação
                    option(value="Dizims") Dizimos
                    option(value="Offers") Ofertas
                td
                  input(type="text", name="debit", value="")
                td
                  input(type="text", name="credit", value="")
            div.table-footer
              div(class="table-footer-content float-left")
                div.total-debit
                  span.debit-total-head Total Débito
                  span.debit-total-body 0,00
                div.total-credit
                  span.credit-total-head Total Crédito
                  span.credit-total-body 0,00
              div(class="table-footer-content float-right")
                a(href="#") Extracto
                a(href="#") Imprimir
