@import "compass";
@import "partials/variables";
@import "partials/base";

body{
  margin: 0;
  width: 100%;
  background-color: $dirty_white;
}


div.moviments-form-container{
  width: 100%;
  padding: 25px 0;

  .moviments-form-subcontainer{
    width: 60%;
    margin: 0 auto;
    .moviments-head{
      text-align: center;
      h1{
        font-size: 1.9em;
        line-height: 2;
      }
    }
  }


}

div.moviments-body{
  .empty-row{
    height: 20px;
  }
  div.exchange{
    margin-left: 1px;
  }
  .exchange{
    padding-left: 10px;
    height: 25px;
  }
  .currency{
    padding-left: 10px;
    height: 25px;
  }
  .datepicker{
    text-align: right;
    padding-right: 10px;
    height: 25px;
  }
  .datepicker-label{
    text-align: right;
  }
  input{
    border: 1px solid $border_color;
    color: $text_color;
    font-family: imnc regular;
    font-size: 0.95em;
  }
  select{
    font-family: imnc regular;
    font-size: 0.95em;
  }
  input.disabled{
    background-color: $dirter_white;
    box-shadow: none;
  }
  span.error-report{
    color: red;
    padding-left: 10px;
    font-style: italic;
  }
}

div.the-table{
  border: 1px solid $border_color;
  table{
    width: 100%;
    border-collapse: collapse;
    background-color: $white;
    padding-bottom: 200px;

    thead{
      background-color: $dirter_white;

      tr{
        height: 5px;
      }
      td {
        padding: 5px 10px;
      }

    }

    tr{
      height: 5px;

      .code{
        width: 10%;
        input{
          width: 100%;
        }
      }

      .values{
        width: 20%;
      }
    }

    tbody{
      td{
        border: 1px solid $base_color;
        input{
          width: 96.5%;
          height: 30px;
          padding-right: 5px;
          text-align: right;
          border: 1px solid $border_color;
        }
        select{
          width: 100%;
          height: 34px;
          border: 1px solid $border_color;
        }
      }
      tr.bottom{
        height: 250px;
        background-color: $white;
      }
    }
  }
}

div.table-footer{
  background-color: $dirter_white;
  padding: 4px 1%;
  border: 1px solid $border_color;

  .table-footer-content{
    .right{
      text-align: right;
    }
    a{
      text-align: right;
    }
  }

  .totals{
    font-weight: bold;
  }
}
