/*
  * Author: Arnaldo Govene <arnaldo.govene@outlook.com>
  * Author URI: https://arnaldogovene.com
  * Description: bases
  * Company: Xindiri
  * Code URI:https://xindiri.cmo

*/

body{
  font-family: imnc regular;
  color: $text_color;
}
::selection{
  background-color: $primary_color;
  color: $white;
}
p, a, span{
  font-size: 0.95em;
  color: $text_color;
}
a{
  text-decoration: none;
  color: $primary_color;
}
.float-left{
  float: left;
}

.float-right{
  float: right;
}

.clearfix{
  clear: both;
}

select{
  background: url('../content/images/icons/select-arrow.png') no-repeat right 50%;
  -webkit-appearance: none;
  background-color: $white;
  padding-left: 5px;
}
