//colors
$base_color: #f4f7f6;
$primary_color:#1da1f2;
$secondary_color: #71c9f8;
$contrast_color: #42ab9e;
$black: #000;
$white: #fff;
$light_grey: #ddd;
$dirty_white: #FAFAFA;
$dirter_white: #efefef;
$border_color: #e8e6e6;
$text_color: rgb(99, 105, 127);
