doctype
html(lang="pt")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="")
    script(src="js/script.js")
    link(rel="stylesheet", href="../../static/stylesheets/header.css")
    title Default
  body.login-page
    header.main-header
      div.header-content
        div.primary-menu-container
        div.primary-menu-arrow
          svg
          div.primary-menu-content
            ul.prmary-menu-ul
              li.menu-li
                a(href="home.php").menu-anchor Painel de Tarefas
              li.menu-li
                a(href="moviments.phps").menu-anchor Novos movimentos
              li.menu-li
                a(href="statement.html").menu-anchor Balancetes
              li.menu-li
                a(href="cashFlow.php").menu-anchor Fluxos de Caixa
              li.menu-li
                a(href="#").menu-anchor Novos Administradores
              li.menu-li
                a(href="Logout.php").menu-anchor Terminar Sessão
        div(class="primary-logo float-left")
        span.logo IMNC
        div(class="logout float-right")
          span Olá, Arnaldo Govene
          span
            a(href="logout").logout Terminar Sessão
